body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(226, 123, 5);
    color: #fff;
    padding: 10px;
    text-align: center;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    background-color: #f4f4f4;
    width: 200px;
    padding: 20px;
    border-right: 1px solid #ccc; /* Ajout d'une bordure droite pour séparer la barre latérale du contenu principal */
}
.sidebar h3 {
    margin-top: 0; /* Supprimer la marge supérieure par défaut des titres */
    padding: 10px 0;
    text-align: center;
    background-color: #ddd; /* Ajouter un fond gris aux titres */
    border-radius: 5px; /* Ajouter des coins arrondis aux titres */
    cursor: pointer; /* Changer le curseur au survol */
}
.sidebar h3:hover {
    background-color: #ccc; /* Change la couleur de fond au survol */
}
.sidebar a {
    text-decoration: none; /* Supprimer la soulignement des liens */
    color: #333; /* Changer la couleur du texte des liens */
}
.sidebar a:hover {
    color: #555; /* Changer la couleur du texte au survol */
}
.main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ajout de cette ligne pour aligner les éléments verticalement */
}
.profile{
    display: flex;
    align-items: center;
    border: 1px solid rgb(90, 88, 88);
    border-radius: 30px;
    background-color: #555;
    

}
.profile-info {
    width: 500px; /* Augmenter la largeur maximale à 600px */
    height: 400px;
    background-color: rgb(192, 188, 188);
    padding: 55px;
    border-radius: 30px;
    display: flex;
    flex-direction: column; /* Ajout de cette ligne pour aligner les éléments verticalement */
    align-items: center; /* Ajout de cette ligne pour centrer les éléments horizontalement */
}
.profile-info label {
    display: block;
    margin-bottom: 10px;
    border-radius: 30px;
}
.profile-pic {
    width: 100px; /* Ajustement de la largeur */
    height: 100px; /* Ajustement de la hauteur */
    border: 2px solid rgb(243, 240, 240);
    border-radius: 30px;
    margin-bottom: 20px;
}

.profile-info input[type="text"],
.profile-info input[type="email"],
.profile-info[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(129, 126, 126);
    border-radius: 15px;
    box-sizing: border-box;
}
.profile-info input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button {
    background-color: #333;
    color: rgb(245, 252, 252);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}